* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f2ec url(../images/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

#container {
    width: 90%;
    margin: 0 auto;
}

a:link, a:active, a:visited {
    color: #af670a;
    text-decoration: none;
}

a:hover {
    color: #227115;
}

/* Logo */

#logo {
    width: 248px;
    height: 21px;
    text-indent: -99999px;
    background: url(../images/logo.png) no-repeat;
}

/* BArra de navegaçãp */
header {
    padding: 15px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li a {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #535858;
}